@font-face {
  font-family: 'Monaco';
  src: url(../fonts/Monaco.ttf)
}

html {
  margin: 0;
  padding: 0;
  color: grey;
  background-color: black;
  font-family: Monaco;
}

nav {
  margin-top: 0;
  text-align: center;
  width: 300px;
  float: right;
}

nav a {
  text-decoration: underline;
  color: grey;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
  border-radius: 8px;
}

#login {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#login input {
  margin-top: 5px;
}

#login input:last-child {
  margin-top: 15px;
}

#newpost textarea {
  width: 400px;
  height: 200px;
}

#newpost input, #newpost textarea {
  display: block;
  margin-top: 20px;
}
