@font-face {
  font-family: 'Monaco';
  src: url(../fonts/Monaco.ttf)
}

html {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: grey;
  background-color: black;
  font-family: Monaco;
}

body {
  font-family: Monaco;
}

nav {
  top: 15px;
  right: 15px;
  position: fixed;
  text-align: center;
  width: 400px;
  float: right;
}

nav a {
  text-decoration: underline;
  color: grey;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;
  border-radius: 8px;
}

#login {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#login input {
  margin-top: 5px;
}

#login input:last-child {
  margin-top: 15px;
}

#welcome {
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  text-align: center;
}

#post_content {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

#newpost textarea {
  width: 400px;
  height: 200px;
}

#newpost input, #newpost textarea {
  display: block;
  margin-top: 20px;
}

#posts {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

.post {
  margin-top: 25px;
}

#users {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.user {
  margin-top: 30px;
}

#profile {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  text-align: center;
}

#avatar {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

#avatarimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

#editprofile {
  margin: 0 auto;
  margin-top: 100px;
}

#editform {
  width: 330px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

#editform label {
  display: inline-block;
  margin-top: 15px;
}

#editform #button {
  margin-top: 15px;
}
