<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>home // login</title>
    </head>
    <body>
      <img src="{{ url_for('static', filename='img/logo.png') }}" id="logo">
      <form id="login" method="POST" action="/api/login">
        <h3>Login</h3>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Login">
      </form>
    </body>
</html>