{% extends "layout.html" %}
{% block body %}
  <div id="profile">
    <div id="avatar">
      <img id="avatarimg" src="http://localhost:5000/uploads/{{ user.avatar }}">
    </div>
    <p>Username: <b>{{ user.username }}</b></p>
    <p>ID: <b>{{ user.id }}</b></p>
    <p>Description: <b>{{ user.description }}</b></p>
    
    {% if user.id == g.user.id %}
    <a href="/editprofile">Edit</a>
    {% else %}
      {% if following == True %}
          <p style="color: green;"> Already following! </p>
      {% else %}
          <p style="color: orange;"> Not following yet! </p>
          <form action="" method="post" id="follow">
            <input type="submit" value="+" />
          </form>
      {% endif %}

    {% endif %}

    <hr style="margin-top: 30px;">
    
    {% if post != None %}
    <h3 style="margin-top: 30px;">Most recent post:</h3>
    <div class="post">
      <p><b><a href="/post/{{post.id}}">{{ post.title }}</a> -- {{ post.datetime.strftime('%Y-%m-%d %HH:%MM') }}</b></p>
    </div>
    {% endif %}
  </div>
{% endblock %}