{% extends "layout.html" %}
{% block body %}
  <div id="editprofile">
    <div id="avatar">
      <img id="avatarimg" src="http://localhost:5000/uploads/{{ g.user.avatar }}">
    </div>
      <form method="POST" action="/api/user/update" enctype="multipart/form-data" id="editform">
        <input type="hidden" name="id" value="{{g.user.id}}">
        <input type="file" name="file" style="margin-left: 70px;"><br>
        <label for="username" style="margin-top: 25px;">Username:</label>
        <input type="text" name="username" value="{{g.user.username}}"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <label for="description" style="margin-top: 25px;">Description:</label><br>
        <textarea name="description" rows="5" cols="30" style="margin-top: 10px;">{{g.user.description}}</textarea><br>
        <input type="submit" value="Submit" id="button">
      </form>
    </div>
  </div>
{% endblock %}